.weare{
    margin: 40px 0;

    @media(max-width: 549px) {
        margin: 20px 0;
    }

    .container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;

        @media(max-width: 1279px) {
            max-width: 910px;
        }

        @media(max-width: 1023px) {
            max-width: 720px;
        }

        @media(max-width: 767px) {
            max-width: 650px;
        }

        @media(max-width: 549px) {
            max-width: 480px;
        }

        @media(max-width: 450px) {
            max-width: 400px;
        }

        @media(max-width: 389px) {
            max-width: 360px;
        }

        @media(max-width: 320px) {
            max-width: 300px;
        }
    }

    &__title {
        font-size: 32px;
        color: var(--white);
        text-decoration: underline;
        text-align: center;

        @media(max-width: 767px) {
            font-size: 24px;
        }
    }

    &__description {
        margin-top: 30px;
        display: block;

        @media(max-width: 767px) {
            text-align: center;
        }
    }

    &__box {
        width: 100%;
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media(max-width: 767px) {
            flex-wrap: wrap;
        }

        &--item {
            background: var(--white);
            width: 160px;
            height: 160px;
            border: 2px solid var(--yellow);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media(max-width: 767px) {
                margin: 10px 20px;
            }

            @media(max-width: 549px) {
                margin: 10px 15px;
            }
        }
    }
}