.contact {
    margin: 40px 0 20px;
    background: url('../../assets/images/banner-4.jpeg') no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;

    @media(max-width: 549px) {
        margin: 20px 0 0;
    }

    .mask {
        background-color: rgb(4 4 4 / 43%);
        width: 100%;
        padding-top: 40px;
    }

    .container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;

        @media(max-width: 1279px) {
            max-width: 910px;
        }

        @media(max-width: 1023px) {
            max-width: 720px;
        }

        @media(max-width: 767px) {
            max-width: 650px;
        }

        @media(max-width: 549px) {
            max-width: 480px;
        }

        @media(max-width: 450px) {
            max-width: 400px;
        }

        @media(max-width: 389px) {
            max-width: 360px;
        }

        @media(max-width: 320px) {
            max-width: 300px;
        }
    }

    &__title {
        font-size: 32px;
        color: var(--white);
        text-decoration: underline;
        text-align: center;

        @media(max-width: 767px) {
            font-size: 24px;
        }
    }

    &__description {
        font-size: 24px;
        margin-top: 30px;
        display: block;
        text-align: center;

        @media(max-width: 767px) {
            font-size: 20px;
        }

        @media(max-width: 549px) {
            font-size: 16px;
        }
    }

    &__box {
        width: 100%;
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        @media(max-width: 549px) {
            margin: 15px 0;
        }

        svg {
            margin-bottom: 20px;

            @media(max-width: 549px) {
                margin-bottom: 14px;
            }
        }

        span {
            display: block;
            font-size: 24px;
            padding-bottom: 20px;

            @media(max-width: 767px) {
                font-size: 20px;
            }

            @media(max-width: 549px) {
                font-size: 16px;
            }
        }

        a {
            background: #43cb43;
            padding: 20px;
            border-radius: 20px;
            font-size: 24px;

            transition: ease 0.3s;

            &:hover {
                background: #297a29;
            }

            @media(max-width: 767px) {
                font-size: 20px;
            }

            @media(max-width: 549px) {
                font-size: 16px;
            }
        }
    }
}